<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>tank</title>

  <!-- Material Design fonts -->
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
  <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- Bootstrap -->
  <!---
  not compatible...? doubled up?
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
  --->

  <!-- Bootstrap Material Design -->
  <link href="dist/css/bootstrap-material-design.css" rel="stylesheet">
  <link href="dist/css/ripples.min.css" rel="stylesheet">

</head>

<body>
  {{#unless currentUser}}
    <div class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="javascript:void(0)">Tank</a>
        </div>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
          <ul class="nav navbar-nav navbar-right">
            {{> loginButtons}}
          </ul>
        </div>
      </div>
    </div>
  {{else}}
    {{> nav}}

    <div class="container-fluid">
      {{> orders}}
      {{> addOrder}}
    </div>
  {{/unless}}
</body>

<template name="addOrder">
  <a class="btn btn-fab btn-primary add-order"><i class="material-icons">receipt</i></a>
</template>

<template name="nav">
  <div class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="javascript:void(0)">Tank</a>
      </div>
      <div class="navbar-collapse collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="javascript:void(0)"><i class="material-icons">list</i></a></li>
          <li><a href="javascript:void(0)"><i class="material-icons">payment</i></a></li>
        </ul>

        <form class="navbar-form navbar-left">
          <div class="form-group is-empty">
            <input type="text" class="form-control col-sm-8" placeholder="Search">
            <span class="material-input"></span></div>
        </form>

        <ul class="nav navbar-nav navbar-right">
          {{> loginButtons}}
          <li class="dropdown">
            <a href="http://fezvrasta.github.io/bootstrap-material-design/bootstrap-elements.html" data-target="#" class="dropdown-toggle" data-toggle="dropdown"><i class="material-icons">settings</i></a>
            <ul class="dropdown-menu">
              <li><a href="javascript:void(0)">Export</a></li>
              <li class="divider"></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<template name="orders">
  <div id="listContent">

    {{#each orders}}
      <div class="list-group-item">
        {{> order}}
      </div>
      <div class="list-group-separator"></div>
    {{else}}
      <div class="well text-center">
        TAAAAANK!!!!!!
      </div>
    {{/each}}
  </div>
</template>

<template name="order">
  <div class="row-picture">
    <img class="circle" src="http://lorempixel.com/56/56/people/1" alt="icon">
  </div>
  <div class="row-content">
    <time class="pull-right">
      {{order.date}}
    </time>

    <h4 class="list-group-item-heading">
      <small>
        {{order.title}}
      </small>
      <br>
      ${{order.total}}
    </h4>

    <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus</p>
    <p class="list-group-item-text">{{order.note}}</p>
  </div>
</template>
